/* 기본 레이아웃 */
body {
  font-family: "Paperlogy", sans-serif;
  background-color: rgb(255, 244, 207);
  margin: 0;
  padding: 0;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_wrapper {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  flex-grow: 1;  
}


/* 진행 바 */
.progress {
  width: 100%;
  max-width: 100%;
  height: 13px;
  margin: 30px auto 30px;
  box-shadow: 0 4px 25px #DDE2E8;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.progress .value {
  height: 100%;
  background-color: #FF8D00;
  transition: width 0.2s ease;
}

.question_box {
  width: 100%;
  max-width: 100%;
  padding: 50px 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


.question_box .number {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  color: #FF8D00;
}


.question_box .question {
  margin: 30px auto 40px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  text-wrap: pretty;
}


/* 질문 페이지 전용 버튼 */
.question_btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width: 280px;
  height: 75px;
  padding: 0 24px;
  border-radius: 50px;
  font-weight: 600;
  background-color: #000000;
  color: #ffffff;
  margin: 16px auto;
  cursor: pointer;
  user-select: none;
  word-break: keep-all;
  text-wrap: pretty;
  transition: 0.1s;
}

.question_btn:active {
  transform: translateY(10px);
}

.question_box .choice {
  border-radius: 120px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* 모바일 대응 */
@media (max-width: 400px) {
  .inner-wrapper {
    padding: 0 16px;
  }

  .question_box {
    padding: 40px 16px;
  }

  .question_box .number {
    font-size: 60px;
  }

  .question_box .question {
    font-size: 26px;
  }

  .question_box .choice {
    font-size: 16px;
  }
}


/* 다크모드 무효 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(255, 244, 207) !important;
    color: #000000 !important;
  }

  .header_bar,
  .question_box,
  .progress,
  .share_btn,
  .retest_btn,
  .smartstore_CTA_btn,
  .start_btn,
  .question_btn {
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
  }

  img,
  .result_img,
  .smartstore_visual,
  .smartstore_visual2,
  .detail_img {
    filter: none !important;
    mix-blend-mode: normal !important;
  }

  .intro_title1,
  .intro_title2,
  .question_box .question,
  .question_box .number {
    color: #000000 !important;
  }
}