
body {
  font-family: "Paperlogy", sans-serif;
  background-color: rgb(255, 244, 207);
  margin: 0;
  padding: 0;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


/* 결과 에그타르트 이미지 */
.result_img {
  display: block;
  width: 100%;
  height: auto;
  margin: 40px auto;
}


/* 디테일 설명 이미지 */
.detail_img {
  display: block;
  width: 95%;
  height: auto;
  margin: 20px auto 50px ;
}


/* 스마트스토어 마케팅 이미지 */
.smartstore_visual1 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 스마트스토어 마케팅 이미지 */
.smartstore_visual2 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 20px;
}


/* 스마트스토어 CTA 버튼 */
.smartstore_CTA_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: 55px;
  font-size: 15px;
  font-weight: 600;
  background-color: #FF8D00;
  color: #000000;
  border-radius: 50px;
  margin: 10px auto;
  text-decoration: none;
}


/* 스마트스토어 마케팅 이미지 */
.recipe {
  display: block;
  width: 100%;
  height: auto;
  margin: 50px auto 50px;
}


/* 공유 버튼 */
.share_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  margin: 10px auto;
  text-decoration: none;
}

/*다시 테스트하기 버튼*/
.retest_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50px;
  margin: 10px auto 90px;
  text-decoration: none;
}


/* 반응형 대응 */
@media (max-width: 400px) {
}


/* 다크모드 무효 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(255, 244, 207) !important;
    color: #000000 !important;
  }

  .header_bar,
  .question_box,
  .progress,
  .share_btn,
  .retest_btn,
  .smartstore_CTA_btn,
  .start_btn,
  .question_btn {
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
  }

  img,
  .result_img,
  .smartstore_visual,
  .smartstore_visual2,
  .detail_img {
    filter: none !important;
    mix-blend-mode: normal !important;
  }

  .intro_title1,
  .intro_title2,
  .question_box .question,
  .question_box .number {
    color: #000000 !important;
  }
}
