/* 공통 배경 및 폰트 설정 */
body {
  background-color: rgb(255, 244, 207);
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", sans-serif;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title_img {
  display: block;
  width: 100%;
  height: auto;
  margin: 45px auto 20px;
}


/* 결과 이미지 */
.result_img {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px auto 20px;
}

/* 결과 설명 박스들 */
.box {
  min-height: 70px;
  padding: 20px 16px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/* 디테일 설명 섹션 */
.detail_title,
.smartstore_title,
.onedayclass_title {
  display: block;
  width: 100%;
  margin: 30px 0 20px;
}

.detail_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

/* flavor */
.flavor {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  text-align: center;
  margin-bottom: 10px;
}

/* 스마트스토어 / 클래스 이미지 */
.smartstore img,
.onedayclass img {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  margin: 16px auto 40px;
  display: block;
  filter: drop-shadow(5px 5px 7px #C3C3C3);
}

/* 링크 안내 텍스트 */
.link_text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-bottom: 8px;
}

.link_text2 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #999;
}

.link_text3 {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* 반응형 대응 */
@media (max-width: 400px) {
  .box {
    font-size: 18px;
    padding: 18px 14px;
  }

  .detail_text {
    font-size: 18px;
    line-height: 1.6;
  }

  .link_text {
    font-size: 18px;
  }

  .link_text3 {
    font-size: 16px;
  }
}
