body {
    background-color: #F6FCFF;
    background-image: url("../images/main_bg.png"); /*..은 css폴더에서 밖으로 나오는 것*/
    background-position: top center;
    background-repeat: repeat;
}

.character {
    width: 100%;
    max-width: 364px;
    margin-left: auto;
    margin-right: auto;

}
